# -----------------------------
# dependencies & build
# -----------------------------
.cache
node_modules
dist

# -----------------------------
# system files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / Editor
# -----------------------------
.idea

# -----------------------------
# logs & local files
# -----------------------------
*.log
*.local
**/src/rules.d.ts
